<div class="masthead">
    <nav>
	    <ul class="nav nav-justified">
	    	<li><%= link_to "My Games App", root_path %></li>
			<li><%= link_to "Accueil", index_path %></li>
			<li><%= link_to "Jeux", games_path %></li>
			<li><%= link_to "A propos", about_path %></li>
			<li><%= link_to "Mon CV", mon_cv_path%></li>
	      	<li><%= link_to "Contact", contact_path%></li>
            <li><%= link_to "Admin", admin_root_path%></li>
    </ul>
    </nav>
    <br>
    <br>
</div>