<div class="masthead">
    <nav>
	    <ul class="nav nav-justified">
	    	<li><%= link_to "My Games App", root_path %></li>
			<li><%= link_to "Accueil", index_path %></li>
			<li><%= link_to "Jeux", games_path %></li>
			<li><%= link_to "A propos", about_path %></li>
			<li><%= link_to "Mon CV", mon_cv_path%></li>
	      	<li><%= link_to "Contact", contact_path%></li>
            <li><%= link_to "Admin", admin_root_path%></li>
    </ul>
    <ul class="nav nav-justified navbar-right">
    	<% if user_signed_in? %>
			<li><%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete %></li>
		<% else %>
	    	<li><%= link_to "Se Connecter", new_user_session_path %></li>
			<li><%= link_to "S'inscrire", new_user_registration_path %></li>	
		<% end %>
    </nav>
    <br>
    <br>
</div>